@font-face {
  font-family: "icomoon";
  src: url("./base/fonts/icomoon.eot?lfyq3x");
  src: url("./base/fonts/icomoon.eot?lfyq3x#iefix") format("embedded-opentype"),
    url("./base/fonts/icomoon.ttf?lfyq3x") format("truetype"),
    url("./base/fonts/icomoon.woff?lfyq3x") format("woff"),
    url("./base/fonts/icomoon.svg?lfyq3x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}