header {
  width: 100%;
  height: 100px;
  background: darkcyan;

  .item {
    margin: 15px;

    a {
      text-decoration: none;
      color: white;

      .link-item {
        width: 100px;
        height: 40px;
        background: blueviolet;
        border-radius: 10px;
      }
    }
  }
}