.widget {
  background: darkgray;

  .container{
    .content{
      border: 1px solid green;
      height: 1000px;
    }
    .two-blocks{
      background: white;
      .block{
        background: rgb(221, 220, 220);
        width: 50%;
        margin: 15px;
        height: 500px;
        border-radius: 10px;

        .lazy{
          width: 400px;
          height: 400px;
        }
      }
    }
  }
  
}